/* COMMON  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to top, #dadbd5 80%, #109687 20%);
  font-family: "Lato", sans-serif;
  height: 100vh;
  position: relative;
}

/* inizio container  */
.main_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  width: 85%;
}
/* common rules container */
img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 5px;
}
input {
  padding-left: 5px;
}
input::placeholder {
  padding: 5px;
}

/* hover  */
li:hover,
img:hover,
.username:hover,
i:hover,
.text span {
  cursor: pointer;
}

/* left container  */
.left_container {
  width: 35%;
  height: 100%;
  float: left;
}
/* my account   */
.my_account {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eaeaea;
  height: 10%;
  width: 100%;
}
.archived_chat {
  position: relative;
  height: 40px;
  width: 100%;
}
.fa-window-maximize {
  padding: 5px;
  margin: 4px 10px 0 25px;
  font-size: 20px;
  color: #17bfa5;
}
.fa-arrow-down {
  position: absolute;
  right: 89.5%;
  top: 38%;
  font-size: 50%;
  color: #17bfa5;
}
.left-icons,
.name_current_chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  height: 70px; /* debug  */
}
.right-icons .fas {
  margin: 4px 7px;
  color: #6e6e6e;
}
.right-icons:last-child {
  margin-right: 10px;
}
/* mute   */
.mute {
  display: flex;
  align-items: center;
  background-color: #8edafb;
  height: 12%;
  width: 100%;
  font-size: 120%;
}
.bell {
  padding: 13px;
  background-color: white;
  border-radius: 50%;
  color: #8edafb;
  margin: 0 10px;
}
/* chat search   */
.chat_search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7%;
  width: 100%;
  padding: 5px;
  background-color: #eeeded;
}
.chat_search i {
  width: 10%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #6e6e6e;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.chat_search input {
  width: 100%;
  height: 100%;
  border: 1px solid #e8e8e8;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.fa-search {
  color: #6e6e6e;
  font-size: 80%;
}
/* list chat   */
.list_chat {
  display: flex;
  background-color: #ffffff;
  height: 71%;
  width: 100%;
  overflow-y: scroll;
}
.fa-trash {
  position: absolute;
  right: 75%;
  color: rgba(0, 0, 0, 0);
}
.fa-trash:hover {
  color: lightblue;
}
.list_chat ul li {
  list-style: none;
}
.list_chat .left-icons {
  align-items: center;
  justify-content: flex-start;
  min-width: 410px;
}
.list_chat .left-icons:hover,
.archived_chat:hover {
  background-color: #ececec;
  cursor: pointer;
}

.list_chat .left-icons:focus {
  background-color: gray;
}
.info{
  position: relative;
}
.message_text {
  position: relative;
  color: #c2bdbd;
  font-size: 12px;
  width: 200px;
  max-height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.message_Date {
  position: absolute;
  left: 130%;
  font-size: 70%;
  color: #c2bdbd;
  overflow-y: hidden;
}
/* RIGHT CONTAINER  */
.right_container {
  width: 65%;
  height: 100%;
  float: left;
}
/* name current chat  */
.name_current_chat {
  background-color: #eaeaea;
  height: 10%;
  width: 100%;
}
.current-chat {
  display: flex;
  flex-direction: column;
}
/* chat  */
.chat {
  background-image: url(../img/mine.jpg);
  height: 82%;
  width: 100%;
  overflow-y: scroll;
  position: relative;
}
.day-cloud {
  position: relative;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e1f3fa;
  font-size: 75%;
  text-align: center;
  width: 10%;
  padding: 5px;
  margin-bottom: 50px;
  border-radius: 20px;
}
.my-message,
.received-message {
  position: relative;
  padding: 10px 5px 2px 10px;
  font-size: 90%;
  border-radius: 8px;
  min-height: 25px;
  width: 40%;
}
.my-message {
  background-color: #dbf8c7;
  margin: 20px 20px 0px 50%;
}
.received-message {
  background-color: white;
  margin: 20px 20px 0px 40px;
}

.fa-angle-down {
  position: absolute;
  font-size: 24px;
  top: 7%;
  right: 3%;
  visibility: visible;
  color: rgba(0, 0, 0, 0);
}
.fa-angle-down:hover {
  color: #c5c5c5;
}
.dropDown-Menu {
  position: absolute;
  left: 48%;
  top: 30%;
  width: 150px;
  background-color: white;
  z-index: 999;
  display: none;
}
.dropDown-Menu ul {
  list-style: none;
  padding: 5px;
}
.dropDown-Menu ul li {
  padding: 10px;
}
.dropDown-Menu ul li:hover,
.dropDown-Menu button:hover {
  background-color: #ececec;
}
.dropDown-Menu button {
  border: none;
  background-color: white;
}

/* typing chat   */
.typing_chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f3eeea;
  height: 8%;
  width: 100%;
}
.typing_chat i {
  color: #6e6e6e;
  font-size: 22px;
}
.typing_chat .fa-grin-alt {
  margin: 0 15px;
}
.fa-paperclip {
  margin-right: 20px;
}
.fa-microphone {
  margin: 0 25px;
}
.typing_chat input {
  height: 80%;
  width: 80%;
  border: none;
  border-radius: 25px;
}
